<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945682327048-ffqqe76c4b05oft5addac3vbb1dh69a2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945682327048-ffqqe76c4b05oft5addac3vbb1dh69a2</string>
	<key>API_KEY</key>
	<string>AIzaSyDmNDFCFOt4skOtqWlhXjhoKfQyFKEP2Sw</string>
	<key>GCM_SENDER_ID</key>
	<string>945682327048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.thebrightsidetrust.brightsidementoring</string>
	<key>PROJECT_ID</key>
	<string>brightside-mentoring</string>
	<key>STORAGE_BUCKET</key>
	<string>brightside-mentoring.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945682327048:ios:f1e46e26a349f1c7eb93bd</string>
	<key>DATABASE_URL</key>
	<string>https://brightside-mentoring.firebaseio.com</string>
</dict>
</plist>